<br/>
<div class="row ">
<div class="col-md-5 ">
<img class="img-responsive" src="assets/scritture.png" alt="Scritture"   >
</div>
<div class="col-md-7 " >
<div class="h3 serif text-justify color: #aaaaaa;" >
Testi e tessiture: la scrittura e le sue declinazioni.<br>
Magazine online di letteratura, filosofia, storia, arte, fumetti, musica, cinema, teatro, politica, giornalismo, web.

</div>
      <div class="date text-right">
      <span>
 ISSN 2499-6610 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<!-- Whitespace added for readability -->
{% assign m = page.date | date: "%-m" %}

{% case m %}
  {% when '1' %}Gennaio
  {% when '2' %}Febbraio
  {% when '3' %}Marzo
  {% when '4' %}Aprile
  {% when '5' %}Maggio
  {% when '6' %}Giugno
  {% when '7' %}Luglio
  {% when '8' %}Augosto
  {% when '9' %}Settembre
  {% when '10' %}Ottobre
  {% when '11' %}Novembre
  {% when '12' %}Dicembre
{% endcase %}
{{ page.date | date: "%Y" }}
</span>
    </div>  
</div>
</div>
<br>
<div class="row post-full">
  <div class="col-xs-12  ">

    <div class="content">
     <div class="container">
  <div class="row">   
      {{ content }}
            </div>
    <!--- end row --- fine riga  --->
 </div>
<!--- end container--- fine riga  --->
    </div>

    <hr>

    <hr>
      
  </div>
</div>
